replicaCount: 1

image:
  repository: guardian
  pullPolicy: IfNotPresent
  tag: "latest"

serviceAccount:
  create: true
  name: "guardian"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
