apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: cloudenvironments.guardian.io
spec:
  group: guardian.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                provider: {type: string}
                region: {type: string}
                credentials:
                  type: object
                  properties:
                    secretRef:
                      type: object
                      properties:
                        name: {type: string}
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
  scope: Cluster
  names:
    plural: cloudenvironments
    singular: cloudenvironment
    kind: CloudEnvironment
    shortNames:
    - ce
