apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: guardian
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/rramesh17993/Guardian.git
    targetRevision: HEAD
    path: deploy
  destination:
    server: https://kubernetes.default.svc
    namespace: guardian-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
